body {
  max-width: 1000px;
  margin: auto;
}

header {
  display: block;
  height: 120px;

}

#grandtitre {
  float: left;
  width: 60%;
}

#contacttel {
  float: right;
  width: 40%;
}

nav {
  border: 1px grey solid;
  border-radius: 3px 3px 3px 3px;
  position: relative;

}

nav ul li {
  display:inline-block;
  width: 15%;

}

nav ul {

}
