/* GENERAL */

body {
  max-width: 1000px;
  margin: auto;
}

/* HEADER */

header h1 {
  font-family: arial;
  font-size: 2em;
  /*line-height: 70%;*/
}

header p {
  font-weight: lighter;
  font-style: italic;
  /*line-height: 30%;*/
  font-size: 1.3em;
}

#contacttel {
  /*line-height: 80px;*/
  font-family: sans-serif;
  font-size: 1.5em;
}

/*header {
  display: block;
  height: 120px;
}



header aside {
  text-align: center;
}

#grandtitre {
  float: left;
  width: 60%;
}*/



/* BARRE DE NAVIGATION */

body nav 
{
   background-color: #e3f2fd;"

}

@media (min-width: 768px) {
  body nav ul
  {
    width:100%;
  }
}

/*nav {
  border: 1px grey solid;
  border-radius: 3px 3px 3px 3px;
  position: relative;
  margin-bottom: 20px;
}

nav ul {
  display:flex;
  list-style: none;
  justify-content: space-between;
  padding: 0 5% 0 5%;
}*/

/* BARRE DE RESERVATION RAPIDE */

#resarapide {
  border: 1px grey solid;
  border-radius: 3px 3px 3px 3px;
  position : relative;
  margin-bottom: 20px;
  height: 45px;
  padding: 10px 20px 0 20px;
  text-align: center;
}

#resarapide select {
  border: 1px grey solid;
  border-radius: 3px 3px 3px 3px;
  height: 35px;
}

#resarapide input {
  border: 1px green solid;
  border-radius: 3px 3px 3px 3px;
  height: 35px;
  background-color: green;
  width: 120px;
}

/* PAGE #HOTEL */
#hotel {
  display flex;
  flex-direction: column;
  justify-content: space-between;
}

#hotel section {  
  display: flex;
  justify-content: space-between;
}

.articleHotel{
  background-image: url("images/article_hotel_bg.jpg");
  background-repeat:no-repeat;
  background-size:100%;
  width:384px;
  height:384px;
  text-align: center;
  margin: 2% 2%;
  padding: 2% 5%;
}

#carousel {
  width:100%;
  justify-content: space-around;
  display:flex;
  align-items: center;
  padding:10px 0px;
}

/* PAGE #TOURISME */
#tourisme .article {
  height:300px;
  margin:30px 0px;
}

#tourisme img {
  float:left;
  margin-right:30px;
}

#tourisme h3 {  
  padding-top: 10px;
}

#tourisme p {
  text-align: justify;  
  overflow:hidden;
  height:125px;
}

#tourisme .lien {
  text-align: right;
}

#avantages {
  display:flex;
  width:95%;
  margin:75px 2.5%;
  justify-content: space-between;
}

/* PAGE #CHAMBRES */
.chambre {
  width:900px;
  height:250px;
  margin:auto;
  margin-bottom: 2%;
  border:2px solid black;
}

.chambreDesc {
  position:relative;
  top:-250px;
  right:5px;
  background-color: white;
  border:2px solid black;
  width : 35%;
  height : 90%;
  margin : 1% 5% 0% 60%;
  padding: 0% 2%;
}

#resaRapideChambre {
  padding: 5px 10px 5px 10px;
  position:relative;
  bottom:10px;
  display:flex;
  justify-content: space-between;
}

#resaRapideChambre select {
  border: 1px grey solid;
  border-radius: 3px 3px 3px 3px;
  height: 35px;
  width:60px;
}

#resaRapideChambre input {
  border: 1px green solid;
  border-radius: 3px 3px 3px 3px;
  height: 35px;
  background-color: green;
  width: 80px;
}

/* HOME */
.news
{
  height:333px;
  margin-bottom: 25px;
}

.newsDesc
{
  height:333px;
  overflow: hidden;
}

.newsDesc h3
{
  font-size:1.8em;
  padding-top: 15px;
  margin-bottom: 25px;
  font-weight: bold;
}

#news img
{
  float:left;
  height:333px;
  width:500px;
  margin-right:33px;
}

#news h2
{
  font-size:2.5em;
  font-weight: bold;
  margin-top: 40px;
}

#news hr
{
  color: #000;
  background-color: #000;
}


