/* GENERAL */

body {
  max-width: 1000px;
  margin: auto;
}

/* HEADER */

header {
  display: block;
  height: 120px;
}

header h1 {
  font-family: arial;
  font-size: 2em;
  line-height: 70%;
}

header p {
  font-weight: lighter;
  font-style: italic;
  line-height: 30%;
  font-size: 1.3em;
}

header aside {
  text-align: center;
}

#grandtitre {
  float: left;
  width: 60%;
}

#contacttel {
  float: right;
  width: 40%;
  line-height: 80px;
  font-family: sans-serif;
  font-size: 1.5em;
}

/* BARRE DE NAVIGATION */

nav {
  border: 1px grey solid;
  border-radius: 3px 3px 3px 3px;
  position: relative;
  margin-bottom: 20px;
}

nav ul {
  display:flex;
  list-style: none;
  justify-content: space-between;
  padding: 0 5% 0 5%;
}

/* BARRE DE RESERVATION RAPIDE */

#resarapide {
  border: 1px grey solid;
  border-radius: 3px 3px 3px 3px;
  position : relative;
  margin-bottom: 20px;
  height: 45px;
  padding: 10px 20px 0 20px;
  text-align: center;
}

#resarapide select {
  border: 1px grey solid;
  border-radius: 3px 3px 3px 3px;
  height: 35px;
}

#resarapide input {
  border: 1px green solid;
  border-radius: 3px 3px 3px 3px;
  height: 35px;
  background-color: green;
  width: 120px;
}
